<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>network</key>
		<dict>
			<key>TimeoutInterval</key>
			<integer>30</integer>
		</dict>
		<key>viewIdentifier</key>
		<dict>
			<key>StatusViewIdentifier</key>
			<string>AlertViewController</string>
			<key>StatusPlanViewIdentifier</key>
			<string>AlertPlanViewController</string>
			<key>StatusVisitorMeetingIdentifier</key>
			<string>AlertViewController-VISITOR_MEETING</string>
			<key>StatusVisitorTourIdentifier</key>
			<string>AlertViewController-VISITOR_TOUR</string>
			<key>StatusVisitorRedempIdentifier</key>
			<string>AlertViewController-VISITOR_REDEMP</string>
			<key>StatusMemberDayPassIdentifier</key>
			<string>AlertViewController-MEMBER_DAYPASS</string>
			<key>StatusMemberMeetingIdentifier</key>
			<string>AlertViewController-MEMBER_MEETING</string>
			<key>StatusEventIdentifier</key>
			<string>AlertViewController-EVENT</string>
			<key>StatusVendorPairIdentifier</key>
			<string>AlertViewController-VendorPair</string>
			<key>StatusVendorIdentifier</key>
			<string>AlertViewController-Vendor</string>
		</dict>
		<key>viewSize</key>
		<dict>
			<key>searchView</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
			</dict>
			<key>hintView</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<real>150</real>
			</dict>
		</dict>
		<key>date</key>
		<dict>
			<key>yMdTHmsZ</key>
			<string>yyyy-MM-dd&apos;T&apos;HH:mm:ssZ</string>
			<key>yMd</key>
			<string>yyyy-MM-dd</string>
			<key>HHmm</key>
			<string>HH:mm</string>
			<key>DefaultTimezone</key>
			<string>Asia/Singapore</string>
		</dict>
		<key>path</key>
		<dict>
			<key>DomainURL</key>
			<string></string>
			<key>TnCURL</key>
			<string></string>
		</dict>
		<key>interval</key>
		<dict>
			<key>TimeInterval</key>
			<integer>5</integer>
			<key>FormInterval</key>
			<real>180</real>
			<key>StatusInterval</key>
			<integer>30</integer>
			<key>EventInterval</key>
			<integer>120</integer>
			<key>ClockInterval</key>
			<integer>1</integer>
			<key>ScheduledEventInterval</key>
			<integer>1</integer>
			<key>CurrentEventInterval</key>
			<integer>1</integer>
			<key>EventListInterval</key>
			<integer>120</integer>
			<key>EventScannerInterval</key>
			<integer>300</integer>
			<key>EventSlotInterval</key>
			<integer>300</integer>
			<key>HintInterval</key>
			<integer>10</integer>
			<key>LoadMemberInterval</key>
			<integer>21600</integer>
			<key>ScannerInterval</key>
			<integer>300</integer>
			<key>OrderStatusInterval</key>
			<integer>300</integer>
		</dict>
		<key>placeholder</key>
		<dict>
			<key>Email</key>
			<string>Email</string>
			<key>Password</key>
			<string>Password</string>
			<key>AdminId</key>
			<string>Admin Id</string>
			<key>VendorId</key>
			<string>Vendor Id</string>
			<key>EmailUsername</key>
			<string>Email/Username</string>
			<key>Host</key>
			<string>Host</string>
			<key>Event</key>
			<string>Event</string>
			<key>FirstName</key>
			<string>First Name</string>
			<key>LastName</key>
			<string>Last Name</string>
			<key>Coupon</key>
			<string>Coupon</string>
			<key>TitleOptional</key>
			<string>Title (optional)</string>
		</dict>
		<key>viewKeys</key>
		<dict>
			<key>MainViewKey</key>
			<string>MainViewKey</string>
			<key>StatusViewKey</key>
			<string>StatusViewKey</string>
			<key>EventScannerViewKey</key>
			<string>EventScannerViewKey</string>
			<key>EventSlotViewKey</key>
			<string>EventSlotViewKey</string>
			<key>FormViewKey</key>
			<string>FormViewKey</string>
			<key>EventViewKey</key>
			<string>EventViewKey</string>
			<key>EventListViewKey</key>
			<string>EventListViewKey</string>
			<key>HintViewKey</key>
			<string>HintViewKey</string>
			<key>ScannerViewKey</key>
			<string>ScannerViewKey</string>
			<key>OrderStatusViewKey</key>
			<string>OrderStatusViewKey</string>
		</dict>
		<key>keys</key>
		<dict>
			<key>AuthKey</key>
			<string>AuthKey</string>
			<key>RefreshTokenKey</key>
			<string>RefreshTokenKey</string>
			<key>AppIdKey</key>
			<string>AppIdKey</string>
			<key>UUIDkey</key>
			<string>UUIDkey</string>
			<key>DeviceModelNameKey</key>
			<string>DeviceModelNameKey</string>
			<key>SelectedLocationKey</key>
			<string>SelectedLocationKey</string>
			<key>LoadMemberKey</key>
			<string>LoadMemberKey</string>
		</dict>
		<key>MemberNo</key>
		<real>1000</real>
	</dict>
	<key>Release</key>
	<dict>
		<key>network</key>
		<dict>
			<key>TimeoutInterval</key>
			<integer>30</integer>
		</dict>
		<key>viewIdentifier</key>
		<dict>
			<key>StatusViewIdentifier</key>
			<string>AlertViewController</string>
			<key>StatusPlanViewIdentifier</key>
			<string>AlertPlanViewController</string>
			<key>StatusVisitorMeetingIdentifier</key>
			<string>AlertViewController-VISITOR_MEETING</string>
			<key>StatusVisitorTourIdentifier</key>
			<string>AlertViewController-VISITOR_TOUR</string>
			<key>StatusVisitorRedempIdentifier</key>
			<string>AlertViewController-VISITOR_REDEMP</string>
			<key>StatusMemberDayPassIdentifier</key>
			<string>AlertViewController-MEMBER_DAYPASS</string>
			<key>StatusMemberMeetingIdentifier</key>
			<string>AlertViewController-MEMBER_MEETING</string>
			<key>StatusEventIdentifier</key>
			<string>AlertViewController-EVENT</string>
			<key>StatusVendorPairIdentifier</key>
			<string>AlertViewController-VendorPair</string>
			<key>StatusVendorIdentifier</key>
			<string>AlertViewController-Vendor</string>
		</dict>
		<key>viewSize</key>
		<dict>
			<key>searchView</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
			</dict>
			<key>hintView</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<real>150</real>
			</dict>
		</dict>
		<key>date</key>
		<dict>
			<key>yMdTHmsZ</key>
			<string>yyyy-MM-dd&apos;T&apos;HH:mm:ssZ</string>
			<key>yMd</key>
			<string>yyyy-MM-dd</string>
			<key>HHmm</key>
			<string>HH:mm</string>
			<key>DefaultTimezone</key>
			<string>Asia/Singapore</string>
		</dict>
		<key>path</key>
		<dict>
			<key>DomainURL</key>
			<string></string>
			<key>TnCURL</key>
			<string></string>
		</dict>
		<key>interval</key>
		<dict>
			<key>TimeInterval</key>
			<integer>5</integer>
			<key>FormInterval</key>
			<real>180</real>
			<key>StatusInterval</key>
			<integer>30</integer>
			<key>EventInterval</key>
			<integer>120</integer>
			<key>ClockInterval</key>
			<integer>1</integer>
			<key>ScheduledEventInterval</key>
			<integer>1</integer>
			<key>CurrentEventInterval</key>
			<integer>1</integer>
			<key>EventListInterval</key>
			<integer>120</integer>
			<key>EventScannerInterval</key>
			<integer>300</integer>
			<key>EventSlotInterval</key>
			<integer>300</integer>
			<key>HintInterval</key>
			<integer>10</integer>
			<key>LoadMemberInterval</key>
			<integer>21600</integer>
			<key>ScannerInterval</key>
			<integer>300</integer>
			<key>OrderStatusInterval</key>
			<integer>300</integer>
		</dict>
		<key>placeholder</key>
		<dict>
			<key>Email</key>
			<string>Email</string>
			<key>Password</key>
			<string>Password</string>
			<key>AdminId</key>
			<string>Admin Id</string>
			<key>VendorId</key>
			<string>Vendor Id</string>
			<key>EmailUsername</key>
			<string>Email/Username</string>
			<key>Host</key>
			<string>Host</string>
			<key>Event</key>
			<string>Event</string>
			<key>FirstName</key>
			<string>First Name</string>
			<key>LastName</key>
			<string>Last Name</string>
			<key>Coupon</key>
			<string>Coupon</string>
			<key>TitleOptional</key>
			<string>Title (optional)</string>
		</dict>
		<key>viewKeys</key>
		<dict>
			<key>MainViewKey</key>
			<string>MainViewKey</string>
			<key>StatusViewKey</key>
			<string>StatusViewKey</string>
			<key>EventScannerViewKey</key>
			<string>EventScannerViewKey</string>
			<key>EventSlotViewKey</key>
			<string>EventSlotViewKey</string>
			<key>FormViewKey</key>
			<string>FormViewKey</string>
			<key>EventViewKey</key>
			<string>EventViewKey</string>
			<key>EventListViewKey</key>
			<string>EventListViewKey</string>
			<key>HintViewKey</key>
			<string>HintViewKey</string>
			<key>ScannerViewKey</key>
			<string>ScannerViewKey</string>
			<key>OrderStatusViewKey</key>
			<string>OrderStatusViewKey</string>
		</dict>
		<key>keys</key>
		<dict>
			<key>AuthKey</key>
			<string>AuthKey</string>
			<key>RefreshTokenKey</key>
			<string>RefreshTokenKey</string>
			<key>AppIdKey</key>
			<string>AppIdKey</string>
			<key>UUIDkey</key>
			<string>UUIDkey</string>
			<key>DeviceModelNameKey</key>
			<string>DeviceModelNameKey</string>
			<key>SelectedLocationKey</key>
			<string>SelectedLocationKey</string>
			<key>LoadMemberKey</key>
			<string>LoadMemberKey</string>
		</dict>
		<key>MemberNo</key>
		<real>1000</real>
	</dict>
</dict>
</plist>
